.data-table-container {
  padding: 1rem;
  
  h3, h4, h5 {
    margin-bottom: 1rem;
    color: #333;
  }
}

.overlay-content {
  min-width: 600px;
  max-width: 800px;
  max-height: 400px;
  overflow: auto;
}
